.box{
    height: 100px;
    width: 100%;
    background-color: lightblue;
}




@media(min-width: 1024px){
    .box{
        background-color: aquamarine;
    }
}


@media(max-width: 768px){
    body{
        background-color: lightpink;
    }
}