.outer-box {
    border: 3px solid black;      /* Border */
    margin: 40px;                 /* Margin around the box */
    padding: 30px;                /* Padding inside the box */
    text-align: center;
}
.middle-box {
    background: blue;             /* Box Color */
    padding: 30px;
}
.inner-box {
    background: yellow;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.header {
    font-size: 2em;
    font-weight: bold;
}